<nz-card style="width: 100%; overflow-y: scroll;height: 600px;">
  
<div nz-row>
  
    <div nz-col nzSpan="4" nzOffset="1" *ngFor="let prod of products" (click)="sendToCheckout(prod)" >
<nz-card nzHoverable style="width:180px" [nzCover]="coverTemplate" >
    <nz-card-meta [nzTitle]="prod.productTitle"></nz-card-meta>
    <p><b>Price: {{prod.productPrice}}</b></p>   
    <!-- <button nz-button [nzSize]="size"  nzType="danger">Buy</button> -->
 </nz-card>
  <ng-template #coverTemplate>
    <img [src]="prod.image" />
  </ng-template>
  <br>
</div>
</div>
</nz-card>